:root{
    --primary-color: #588065;
    --secondary-color: #ad8e9a;
    --attention-color: #a4cecc;
    --font-color: #333;
    --gradiente-azul:linear-gradient(45deg,#af1b7e ,#6850d4 );
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
}
.menu-bar{
    background-image: var(--gradiente-azul);
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    & h2{
        color: var(--secondary-color);
    }
}
.menu{
    justify-content: space-around;
    & ul{
        list-style: none;
        display: flex;
        gap: 20px;
        & a{
            text-decoration: none;
            color: var(--secondary-color);
            font-size: 20px;
            font-weight: bold;
            border: solid 2px var(--secondary-color);
            padding: 10px;
            border-radius: 30px;
            box-shadow: 1px 2px 10px rgba(255,255,255,0.2);
            transition: all 0.3s ease;
            &:hover{
                background-color: var(--secondary-color);
                color: var(--primary-color);;
                box-shadow: 1px 2px 10px #5ec57833;
            }
        }
    }
}
.biografia{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    & h1{
        color: var(--primary-color);
        font-size: 40px;
        margin-bottom: 0;
    }
    & p{
        color: var(--attention-color)
    }   
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(190, 64, 85);
    padding: 0 150px;
    & h2{
       text-align: start;
        padding: 5px 50px;
    }
    & p{
        padding: 5px 50px;
        text-align: justify;
    }
    & img{
        height: 30vw;
        border-radius: 50%;
        box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    }
}
        
 .cartao {
            background: rgb(219, 216, 10);
            border-radius: 15px;
            padding: 30px;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
        }
         .sombra-suave {
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
          
        }
        .cartao {
            background: rgb(221, 207, 7);
            border-radius: 10px;
            padding: 30px;
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
            &h3{
                color: #3fdb18;
            }
        }
    /* Diferentes tipos de sombra */
        .sombra-suave {
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }
.cards{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0 50px;
   
}
.contato-form{ 
    
            margin: 10px;
            padding: 20px;
            border: solid 1px var(--primary-color);
            width: 75%;
            text-align: center;
            border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    & form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
        justify-content: center;
        margin: 10px auto;
        & input{
            border: solid;
            padding:10px ;
            border-radius: 10px;
        }

    }
}
