.tabuada{
    background-color: blue;
     color: aliceblue;
     padding: 20px;
     margin-top: 20px;
     font-weight:bold;
     width: 33vw;
     font-family: 'Courier New', Courier, monospace;
     text-align: center;
}